.alltogether{
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 0px 50px;
}

.text{
    width: 60%;
    display: inline-block;
    margin: 0px 50px 0px 0px;
}

.image{
    width: 39%;
    display: inline-block;
    margin: 80px 0px 0px 0px;
}

H1{
    margin: 250px 0px 0px 0px;
}
