.alltogether{
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 0px 50px;
    height: 85vh;
}

.text{
    width: 60%;
    display: inline-block;
    margin: 0px 50px 0px 0px;
}
.gallery {
    display: inline-block;
    width: 900px;
    height: 400px;
    margin: 80px 0px 0px 0px;
    background-color: rgb(1, 73, 141);
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    border-radius: 30px;
  }
  
  img {
    width: 60vh;
    padding: 20px;
  }

  ::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
    border-radius: 10px;
    border-color: black;
    border-style: solid ; 
}

::-webkit-scrollbar-thumb {
    background-color: rgb(10, 31, 102);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(5, 34, 131);
}