html{
    height: 100%;
    position: relative;
}


body {
    background-image: url(./assets/images/buildings-1837028_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    margin: 0px;
}


.icon-bar {
    width: 100%; 
    background-color: rgb(1, 73, 141); 
    overflow: auto; 
    margin: 30px 0px 0px 0px;
    display: flex;
}

#placeholder{
    width: 70%;
    display: inline-block;
    background-color:rgb(1, 73, 141); 
}

.icon-bar a {
    position: relative;
    text-align: center; 
    width: 10%; 
    padding: 12px 0; 
    transition: all 0.3s ease; 
    color: white; 
    display: inline-block;
    font-size: 36px; 
}

.icon-bar a:hover {
    background-color: #000; 
    outline-color:  rgb(5, 34, 131);
    outline-width: 2px;
    outline-style: solid;
}

H1{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 100;
    font-size: 100px;
    font-style: normal;
    color: white;
    width: 100%;
}

H2{
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-weight: 200;
    color: white;
    font-size: 40px;
}

div>p{
    margin: 10px 0px 0px 0px;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 200;
    color: rgb(185, 176, 176);
    font-size: 18px;
    margin: 0px 0px 10px 0px;
}

img{
    width: 100%;
    height: auto;
    border-radius: 30px;
}

.link{
    width: 150px;
    height: 40px;
    background-color: rgb(1, 73, 141);
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 0px 0px 10px 0px;

}

.link:hover{
    background-color: black;
    outline-color:  rgb(5, 34, 131);
    outline-width: 2px;
    outline-style: solid;
}

a{
    color: white;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    transition: all 0.3s ease;
}